# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Environnement
.env
config.local.py

# Base de données
data/*.db
data/*.sqlite

# Outputs générés
output/

# IDE
.vscode/
.idea/
*.DS_Store

# Jupyter (si tu testes des choses)
.ipynb_checkpoints/
*.ipynb
